__pycache__
*.zip
*.rar
*.log
*.bak
*.onnx

/core/__pycache__
# /data/annotations
# /data/train2017
# /data/val2017
# /data/cropped
# /output/show_imgs
# /output/detect
output/

# Ignore the idea and vscode
.idea/
.vscode/ 

# Ignore the downloaded dataset
data/coco2017/

# Ignore other files
data/cropped/