__pycache__
*.zip
*.rar
*.log
*.bak
*.onnx

/sparrow/__pycache__
output/
output*/
runs/

# Ignore the obsoleted
obsoleted

# Ignore the idea and vscode
.idea/
.vscode/ 

# Ignore other configuration files except config.json
config_*.json

# Ignore the downloaded dataset
data/coco2017*/
data/reid/

# Ignore other files
data/cropped/