# 使用 PyPI + PyTorch CUDA 12.9 轮子源
--extra-index-url https://download.pytorch.org/whl/cu129

torch
torchvision
opencv-python
numpy
pandas
albumentations
torchsummary
onnxruntime
kaggle
onnx
nvitop
pycocotools
pyyaml
kagglehub